.spinner {
    /* Your styling */
    animation: spin 1s linear infinite; /* Required */
    width: 60 px;
    height: 60 px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.country-card{
    background-color:azure;
    padding: 30 px ;
}

.border-grid {
    display: grid; /* or display: flex */
    /* Additional layout properties */
    display: flex;
    flex-wrap: wrap;
}
.error {
    color:darkred;
    /* Additional styling */
}
.hidden {
    display: none;
}
